body{
    background-color: #9999ff;
    color: #ffffff;
}
.img-selfie {
    display: flex;
    width: 100%;
}

.headings {
    background-color: #ffffff;
    color: #000000;
}

.fa.fa-github{
    size: 6em;
}

